<html><head>
<title>DBLP Papers Search</title>
</head><body>
<h2>DBLP Papers Search</h2>
<form action="search" method="POST">
<p>#Results Goal: <select name="goal">
<option>10</option><option>20</option><option selected="selected">40</option>
<option>80</option><option>100</option><option>150</option><option>200</option>
<option>300</option><option>400</option><option>500</option>
<option>600</option><option>700</option><option>800</option>
<option>900</option><option>1000</option><option>2000</option>
</select>
Timeout: <select name="timeout">
<option>10</option><option selected="selected">20</option><option>30</option>
<option>60</option><option>100</option><option>240</option>
<option>300</option><option>600</option><option>900</option>
</select>
Min Ref: <select name="minref"><option>0</option><option selected='selected'>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option></select></p>
<p>Search: <input type="text" name="search">
<input type="submit" value="Go"></p>
</form>
</body></html>
